<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.poojan.edge.volume.control">

    <uses-permission android:name="com.samsung.android.providers.context.permission.WRITE_USE_APP_FEATURE_SURVEY" />
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".VolumeControlApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="7b270d471657eab78cf9486a156fa13ab38bfd68" />

        <receiver android:name=".EdgeSingleProvider">
            <intent-filter>
                <action android:name="com.samsung.android.cocktail.v2.action.COCKTAIL_UPDATE" />
                <action android:name="com.example.cocktailslooksample.action.ACTION_REMOTE_CLICK" />
                <action android:name="android.media.RINGER_MODE_CHANGED" />
            </intent-filter>
            <meta-data
                android:name="com.samsung.android.cocktail.provider"
                android:resource="@xml/edg_single" />
        </receiver>

    </application>

</manifest>